[Unit]
Description = isucon7 qualifier main application in nodejs

[Service]
WorkingDirectory=/home/isucon/isubata/webapp/nodejs
EnvironmentFile=/home/isucon/env.sh

ExecStart = /home/isucon/local/node/bin/node /home/isucon/isubata/webapp/nodejs

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
